<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Universidad</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="https://github.com/negrisaco/entrega-tp-vd">Ir al Repositorio</a>
      </li> -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Secciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <a class="dropdown-item" routerLink="/Alumnos" aria-label="Sección de Alumnos" role="button">Alumnos</a>
          <a class="dropdown-item" routerLink="/Profesores" aria-label="Sección de Profesores" role="button">Profesores</a>
          <a class="dropdown-item" routerLink="/Materias" aria-label="Sección de Materias" role="button">Materias</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Usuario: Usuario Test</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
  <!--Log off modal below-->
  <div class="modal" tabindex="-1" role="dialog" id="logoffModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content warningModalContent">
        <div class="modal-body logoffModalBody">
          <p>Are you sure you would like to log off?</p>
        </div>
        <div class="modal-footer logoffModalFooter">
          <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal" (click)="logOff()">Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>