<div class="container-fluid">
    <body class="container-fluid">
        <!-- <div id="globalWrapper" class="container-fluid"> -->
            <div class="row">
                <div class="col-md-12">
                        <div class="jumbotron jumbotron-fluid">
                            <div>
                                <h1>Bienvenido {{this.currentUser.firstName}} {{this.currentUser.lastName}}</h1>
                                <p>Sistema de Gestión Universitario</p>
                                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                            </div>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                        <h2>Usabilidad</h2>
                        <p>Puede navegar a travez de las diferentes opciones en el menu Secciones, para explorar y consultar datos de los Alumnos, Profesores y Materias de la Universidad. También podrá editar, borrar y agregar cualquiera de estas entidades.</p>
                        <p><a class="btn btn-default" href="../../consignas.html" role="button">Consignas »</a></p>
                </div>
            </div>
        <!-- </div> -->
    </body>
    <hr>
    <footer>
    <p>© Sheila Machado - 2019</p>
    </footer>
</div>

